<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.ralfebert.rcputils.snippets.application.SnippetsApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.ralfebert.rcputils.snippets.SnippetsPerspectiveFactory"
            id="de.ralfebert.rcputils.snippets"
            name="RCP Snippets">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.ralfebert.rcputils.snippets.snippet01tableviewerbuilder.Snippet01TableViewerBuilder"
            id="de.ralfebert.rcputils.snippets.Snippet01TableViewerBuilder"
            name="01 TableViewerBuilder"
            restorable="true">
      </view>
      <view
            class="de.ralfebert.rcputils.snippets.snippet02stocks.Snippet02StocksViewPart"
            id="de.ralfebert.rcputils.snippets.Snippet02Stocks"
            name="02 Stocks"
            restorable="true">
      </view>
      <view
            class="de.ralfebert.rcputils.snippets.snippet03concurrent.Snippet03Concurrent"
            id="de.ralfebert.rcputils.snippets.Snippet03Concurrent"
            name="03 Concurrent"
            restorable="true">
      </view>
   </extension>

</plugin>
